.App {
  text-align: center;
}
body {
  background-color: #3F51B5;
}

.row {
  display: flex;
  justify-content: center;
}
.cell {
  border: solid 2px;
  padding: 10px;
  height: 100px;
  width: 100px;
  background-color: orange;
}
.title{
  font-size: 30px;
  color: white;
}
img{
  width: 70px;
  height: 70px;
}
.result{
  
}